.vpaidTemplateButtons {
    background-color: #8ec641;
    color: #1b9dd0;
    border: 2px solid #1b9dd0;
    text-align: center;
    font-size: 80%;
    width: 30%;
    font-family: "Lato", sans-serif;
    margin: 2px 2px 2px 2px;
    font-weight: bold;
}